.App {
  left: 50%;
}
.header {
  width: 100%;
  height: 20vh;
  background-color: turquoise;
  background-image: url("./assets/friends-cropped.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.nav-item {
  color: rgb(27, 26, 26);
  text-decoration: none;
  margin: 10px 30px;
  }

.home-description h1 {
  margin: 2rem;
}

.home-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 50px;

}

.friend-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friend-card h2 {
  text-decoration: none;
  color:  rgb(27, 26, 26);
  line-height: 1rem;
}

.card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}